@page
@model FrontEnd.Pages.FootballClubPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <a asp-page="/FootballPlayerPages/Index">FootballPlayer Manage</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FootballClub[0].ClubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballClub[0].ClubShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballClub[0].SoccerPracticeField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballClub[0].Mascos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FootballClub) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoccerPracticeField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascos)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FootballClubId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.FootballClubId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
