@page
@model FrontEnd.Pages.FootballPlayerPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (Model.UserRole == "ADMIN") // Check if user is an Admin
                    {
                        <a asp-page="Create">Create New</a>
        <a asp-page="/FootballClubPages/Index">Club Manage</a>
                    }
</p>

<!-- Search Form -->
<form method="get">
    <input type="text" name="searchTerm" value="@Model.SearchTerm" placeholder="Search by player name..." />
    <button type="submit">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FootballPlayer[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballPlayer[0].Achievements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballPlayer[0].Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballPlayer[0].PlayerExperiences)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballPlayer[0].Nomination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FootballPlayer[0].FootballClub)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FootballPlayer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achievements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerExperiences)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FootballClub.FootballClubId)
            </td>
            <td>
                    @if (Model.UserRole == "ADMIN") // Check if user is an Admin
                    {
                        <a asp-page="./Edit" asp-route-id="@item.FootballPlayerId">Edit</a> 
                        <a asp-page="./Delete" asp-route-id="@item.FootballPlayerId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
